<footer>
    <div class="footer-section">
      <a href="https://github.com/AlsayedAldahawy/MetaGenerator" target="_blank">© 2024 Meta Generator.</a>
    </div>
    <!-- <div class="footer-section">
      Contact Us: <a href="mailto:support@metagenerator.com">support@metagenerator.com</a>
    </div> -->
    <!-- <div class="footer-section">

    </div> -->
    <!-- <div class="footer-section">
      Follow us on <a href="#">Twitter</a>, <a href="#">LinkedIn</a>, <a href="#">GitHub</a>
    </div> -->
    <!-- <div class="footer-section">
      Powered by Flask and ChatGPT
    </div> -->
    <!-- <div class="footer-section">
      Subscribe to our newsletter for updates and tips!
    </div> -->
  </footer>
